<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>component</title>
    <!-- https://github.com/kbh1301/frameworkless-components -->
</head>
<body>
<!-- component css -->
<style class="component">
    .component_page {
        background-color: white;
        min-height: 200px;
        padding: 10px;
    }
</style>

<!-- component html -->
<div class="component component_page" id="component_pageAbout" data-page="About">
    <h2>About Page</h2>
    <a href="https://github.com/kbh1301/frameworkless-components" target="_blank">GitHub Repo</a>
</div>

<!-- component js -->
<script class="component">
</script>
</body>
</html>

